{{define "bioPage"}}

<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="my bio">
        <meta name="author" content="franklin">
        <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
        <meta name="keywords" content="HTML, CSS, GoLang">
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href= "/static/css/bio.css">
    </head>
    <body>
    <div class="row">
    <div class="card">
        <img src="/static/images/headshot2025.jpg" alt="Jane" style="width:100%" width=380 height=424>
        <div class="container">
            <h2>Franklin Diaz</h2>
            <p class="title">Principal Security Consultant</p>
            <p>Franklin Diaz serves as a Principal Engineer at Palo Alto Networks, where he focuses on public cloud infrastructure, automation, and DevSecOps within the Professional Services team. His work involves developing infrastructure as code and robust pipelines for security and build data, encompassing continuous integration, development, and deployment. In addition to his industry role, he is an Adjunct Faculty member at the University of Colorado Denver, contributing his expertise to the next generation of professionals.</p>
            <p>A technology veteran with over two decades of experience, Diaz's background spans Telecommunications, Networks, Software, and Information Security. He earned an MS in Computer Information Systems from Northwestern University, an MS in Network Engineering/Network Security from DePaul University in Chicago, and a BS in Computer Science. His career highlights include positions as Staff Software Engineer at Motorola, Research & Development Engineer at Nokia Siemens Networks, and Security Data Engineer on the Detection Engineering & Analytics team at Salesforce.</p>
            <p>franklin@bitsmasher.net</p>
        </div>
    </div>
    </body>
</html>
{{end}}