{{define "footer"}}

<p>
<div class="footer" id="footer">
<center>
  [ <a href="/">home</a> ]
    <br />
    <small><small><small>
    <em>“The greater the obstacle, the more glory in overcoming it.” – Moliere</em> <br />
    <em>Copyright © 2010-2025 bitsmasher.net</em>
    </small></small></small>
</center>
</div>
<p>&nbsp;<p>&nbsp;<p>

{{end}}
