{{define "footer"}}

<p>
<div class="footer" id="footer">
<center>
  [ <a href="/">home</a> ]
    <br />
    <small><small><small>
    <em>“The greater the obstacle, the more glory in overcoming it.” – Moliere</em> <br />
    <em>© 2026 bitsmasher.net</em>
    </small></small></small>
</center>
</div>
</p><p>&nbsp;</p><p>&nbsp;<p>

<script src="https://cdnjs.cloudflare.com"></script>

{{end}}
