{{define "resumePage"}}

{{template "header"}}

  <div clas="container">
      <div class="center">

        <div class="header" id="header">
                <h2>Hello.</h2>
                    
        </div>

        <table style="width:100%">
            <tr>
                <th style="width:15%"></th>
                <th style="width:85%"></th>
            </tr>
            <tr>
                <td>
                    {{template "navigation"}}
                </td>
                <td>
                    <img src="/static/www/images/techwiz.png" alt="stay a while, and listen" width="500" height="600"><br />
                </td>
            </tr>
        </table>

        </div>
    </div>

{{template "footer"}}

</body>
</html>

{{end}}
