grpcio
flake8==4.0.1
pytest==6.2.5
coverage==6.1.2
isort==5.10.1
black==24.3.0
mdformat
pre-commit
pdoc3
pre-commit-update
#ansible-dev-tools
molecule
molecule-plugins[podman]
podman-compose
yamllint ansible-lint