# SPDX-FileCopyrightText: 2021-2025 franklin <smoooth.y62wj@passmail.net>
#
# SPDX-License-Identifier: MIT

# ChangeLog:

############### Amazon Web Services ###############
export AWS_REGION=us-central-1

############### Ansible ###############
export ANSIBLE_HOME="/mnt/storage1/workspace/lab-franklin/ansible"
export ANSIBLE_CONFIG="${ANSIBLE_HOME}/ansible.cfg"
export ANSIBLE_LOCAL_TEMP="${ANSIBLE_HOME}/tmp"
export ANSIBLE_REMOTE_TEMP="${ANSIBLE_HOME}/tmp"
export MOLECULE_EPHEMERAL_DIRECTORY="${ANSIBLE_HOME}/tmp"
#export ANSIBLE_LIBRARY="${HOME}/.ansible/plugins/modules/" # modules

############### Ansible Collections ###############
export ANSIBLE_COLLECTIONS_PATH="${ANSIBLE_HOME}/collections"
export ANSIBLE_ROLES_PATH="${ANSIBLE_COLLECTIONS_PATH}/ansible_collections/lab/franklin/roles"
export ANSIBLE_PLAYBOOK_DIR="${ANSIBLE_COLLECTIONS_PATH}/ansible_collections/lab/franklin/playbooks"
# Add your standalone local module to one of the default configured locations
# ansible-config dump |grep DEFAULT_MODULE_PATH
export DEFAULT_MODULE_PATH="${ANSIBLE_COLLECTIONS_PATH}/lab/franklin/plugins/modules"

############### Autotools ###############
export AUTOCONF_VERSION=2.71
export AUTOMAKE_VERSION=1.16
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'
export GNUPGHOME="${HOME}/.gnupg"

############### Golang ###############
export GOPATH=${HOME}/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH
export PATH=$PATH:$GOROOT/bin

############### Google Cloud ###############
export PROJECT_ID="gcp-gcs-pso"
export CLOUDSDK_CORE_PROJECT="gcp-gcs-pso"
export GOOGLE_REGION="us-central1"
#export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/.config/gcloud/gcp-gcs-pso-11d22411ba83.json" # AIRLOCK, thelio
export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/.config/gcloud/gcp-gcs-pso-f9322c73b9bf.json" # work laptop, grimoire
#export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/.config/gcloud/gcp-gcs-pso-17b9779c1084.json"
# Run kubectl with the new plugin prior to the release of v1.26
export USE_GKE_GCLOUD_AUTH_PLUGIN=True
export CLOUDSDK_PYTHON=/Users/fdiaz/.pyenv/versions/3.11.13/bin/python3 # this is for Mac to find PYTHON 3.11, required for gcloud sdk

############### Kubernetes ###############
export KUBECONFIG=~/.kube/config
export HELM_EXPERIMENTAL_OCI=1

############### Red Hat ###############
export RHEL_USER=frank378

############### Terraform ###############
# You can set TF_LOG to one of the log levels TRACE, DEBUG, INFO,
# WARN or ERROR to change the verbosity of the logs. TRACE is the
# most verbose and it is the default if TF_LOG is set to something
# other than a log level name.
export TF_LOG="TRACE"
export TF_LOG_PATH="/tmp/terraform.franklin"
