# You can set TF_LOG to one of the log levels TRACE, DEBUG, INFO,
# WARN or ERROR to change the verbosity of the logs. TRACE is the
# most verbose and it is the default if TF_LOG is set to something
# other than a log level name.
export TF_LOG="TRACE"
export TF_LOG_PATH="/tmp/terraform.franklin"

export PROJECT_ID="gcp-gcs-pso"
export CLOUDSDK_CORE_PROJECT="franklin-resume"
export GOOGLE_REGION="europe-north1"
export GOOGLE_CLOUD_PROJECT="franklin-resume"
