export TEXMFHOME="$HOME/workspace/texmf"

export ENCFONTS=.:{{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}/fonts/enc//
export SYSTEXMF=/var/lib/texmf:/usr/local/share/texmf:/usr/share/texlive/texmf-dist:/usr/share/texmf
export TEXCONFIG={{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}/dvips//
export TEXFONTMAPS=.:{{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}/fonts/map/{kpsewhich,pdftex,dvips,}//
export TEXMF={{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}
export TEXMFCONFIG=${TEXMFHOME}/.texlive2025/texmf-config
export TEXMFDBS={!!/usr/local/share/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}
export TEXMFDIST=/usr/share/texlive/texmf-dist
export TEXMFHOME=${TEXMFHOME}/texmf
export TEXMFLOCAL=/usr/local/share/texmf
export TEXMFMAIN=/usr/share/texlive/texmf-dist
export TEXMFSYSCONFIG=/etc/texmf
export TEXMFSYSVAR=/var/lib/texmf
export TEXMFVAR=${TEXMFHOME}/.texlive2025/texmf-var
export TEXPSHEADERS=.:{{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}/{dvips,fonts/{enc,type1,type42,type3}}//
export VARTEXFONTS=/tmp/texfonts
export WEB2C={{}${TEXMFHOME}/.texlive2025/texmf-config,${TEXMFHOME}/.texlive2025/texmf-var,${TEXMFHOME}/texmf,!!/usr/local/share/texmf,/etc/texmf,!!/var/lib/texmf,!!/usr/share/texmf,!!/usr/share/texlive/texmf-dist}/web2c