.DS_Store
*.deb
.buildlog
.vscode
.terraform
.envrc
markdown/my_resume.*

# Python
__pycache__
venv
.coverage
*.egg-info
*.log
*config.py
*.egg-info
.pytest_cache
.tox/
MANIFEST
coverage.xml
htmlcov/
_build/

Makefile
Makefile.in
configure
configure~
config/
config/install-sh
config/missing
aclocal
aclocal.m4
autom4te.cache/
config.status
config.log
COPYING
INSTALL
libtool
