.DS_Store
*.deb
.buildlog
.vscode
.terraform
.envrc
markdown/my_resume.*

# Python
__pycache__
_build
.coverage
*.egg-info
*.log
*config.py
*.egg-info
.pytest_cache
.tox/
MANIFEST
coverage.xml
htmlcov/
venv/
