[submodule "src/bot-tang"]
	path = src/bot-tang
	url = https://github.com/devsecfranklin/bot-tang
[submodule "src/bot-hanson"]
	path = src/bot-hanson
	url = https://github.com/devsecfranklin/bot-hanson
[submodule "src/cloud-tools"]
	path = src/cloud-tools
	url = https://github.com/devsecfranklin/cloud-tools
[submodule "templates/template-autotools"]
	path = templates/template-autotools
	url = https://github.com/devsecfranklin/template-autotools
[submodule "templates/template-latex"]
	path = templates/template-latex
	url = https://github.com/devsecfranklin/template-latex
[submodule "src/bot-newb-actual"]
	path = src/bot-newb-actual
	url = https://github.com/devsecfranklin/bot-newb-actual
[submodule "src/franklin-resume"]
	path = src/franklin-resume
	url = https://github.com/devsecfranklin/franklin-resume
[submodule "src/math"]
	path = src/math
	url = https://github.com/devsecfranklin/math
[submodule "src/fizz-buzz"]
	path = src/fizz-buzz
	url = https://github.com/devsecfranklin/fizz-buzz
[submodule "src/website"]
	path = src/website
	url = https://github.com/devsecfranklin/website
[submodule "src/minecraft.bitsmasher.net"]
	path = src/minecraft.bitsmasher.net
	url = https://github.com/devsecfranklin/minecraft.bitsmasher.net
