<!doctype html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
    <!-- Hello Robots, please have the latest version of this page. No cache. -->
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive" />
    <meta name="googlebot-news" content="noarchive" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new-style.css') }}">
    <meta name="author" content="Franklin Diaz">
    <title>Franklin Diaz Biography</title>
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <meta name="description" content="Biography of a Principal DevSecOps/Security Engineer." />
    <meta name="keywords"
        content="resume, infrastructure, security, engineering, DevOps, DevSecOps, Python, Ansible, Terraform, Puppet, AWS, GCP, OCI, Azure, remote" />

    <!-- OpenGraph https://ogp.me/ -->
    <meta property="og:title" content="Biography of Franklin Diaz" />
    <meta property="og:type" content="document" />
    <meta property="og:url" content="https://franklin-resume.herokuapp.com/bio.html" />
    <meta property="og:image" content="{{ url_for('static', filename='headshot.jpg') }}" />
    <meta property="og:description" content="Biography of Franklin Diaz" />

    <!-- Twitter specific -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://franklin-resume.herokuapp.com/bio.html" />
    <meta name="twitter:title" content="Franklin Diaz Resume" />
    <meta name="twitter:description" content="Biography of Franklin Diaz" />
    <meta name="twitter:image" content="{{ url_for('static', filename='headshot.jpg') }}" />
</head>

<body>

    <div id="page-wrap">
        <div class="noprint">
            <img class="one" src="{{ url_for('static', filename='headshot.jpg') }}" alt="Photo of Franklin" id="pic" />
        </div>
        <div class="onlyPrint">
            <img class="one" src="{{ url_for('static', filename='qr-code.png') }}" alt="Franklin ORCID" id="pic" />
        </div>
        <div id="contact-info" class="vcard">
            <h1 class="fn">Franklin Diaz</h1>
            <div class="noprint">
                <form action="/biopdf" method="GET">
                    <button name="pdfBtn" type="submit">Download PDF</button>
                </form>
            </div>
            <p>
                Email: <a href="mailto:frank378@gmail.com" target="_blank">frank378@gmail.com</a><br />
                Web: <a href="https://g.dev/franklin">GDev Page</a><br />
                LinkedIn: <a href="https://www.linkedin.com/in/franklin-diaz/">LinkedIn</a><br />
                Latest Version of this Biography: <a href="https://franklin-resume.herokuapp.com/bio.html">click
                    here</a>
            </p>
        </div>

        <div class="clear"></div>

        <div id="objective">

        <p>Franklin Diaz is a Principal Engineer at Palo Alto Networks. He specializes in public cloud infrastructure,
            automation, and DevSecOps, and is a member of the Professional Services team. He works to create
            infrastructure
            as code and pipelines for security and build data, including continuous integration, development, and
            deployment.</p>

        <p>Diaz is a 20+ year technology professional with experience in Telecommunications, Networks, Software, and
            Information Security. He holds an MS in Computer Information Systems from Northwestern University and
            an MS in Network Engineering/Network Security from DePaul University in Chicago, as well as a BS
            in Computer Science.</p>

        <p>His past roles include Staff Software Engineer at Motorola, Research & Development Engineer at
            Nokia Siemens Networks, and Security Data Engineer n the Detection Engineering & Analytics team at
            Salesforce.
        </p>
        </div>

    </div>

    <div class="noprint">
        <a href="https://github.com/devsecfranklin/franklin-resume">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                src="{{ url_for('static', filename='forkme_right_darkblue_121621.png') }}"
                alt="Fork me on GitHub" /></a>
    </div>
</body>

</html>