<!doctype html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">

<head>
  <!-- Hello Robots, please have the latest version of this page. No cache. -->
  <meta name="robots" content="noarchive" />
  <meta name="googlebot" content="noarchive" />
  <meta name="googlebot-news" content="noarchive" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new-style.css') }}">
  <meta name="author" content="Franklin Diaz">
  <title>Franklin Diaz Resume</title>
  <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
  <meta name="description" content="Resume of a Principal DevSecOps/security leader seeking remote opportunities." />
  <meta name="keywords"
    content="resume, infrastructure, security, engineering, DevOps, DevSecOps, Python, Ansible, Terraform, Puppet, AWS, GCP, OCI, Azure" />

  <!-- OpenGraph https://ogp.me/ -->
  <meta property="og:title" content="Resume of Franklin Diaz" />
  <meta property="og:type" content="document" />
  <meta property="og:url" content="https://franklin-resume.herokuapp.com/" />
  <meta property="og:image" content="{{ url_for('static', filename='headshot.jpg') }}" />
  <meta property="og:description" content="Resume of Franklin Diaz" />

  <!-- Twitter specific -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="https://franklin-resume.herokuapp.com/" />
  <meta name="twitter:title" content="Franklin Diaz Resume" />
  <meta name="twitter:description" content="Resume of Franklin Diaz" />
  <meta name="twitter:image" content="{{ url_for('static', filename='headshot.jpg') }}" />
</head>

<body>
  <div id="page-wrap">
    <div class="noprint">
      <img class="one" src="{{ url_for('static', filename='headshot.jpg') }}" alt="Photo of Franklin" id="pic" />
    </div>
    <div class="onlyPrint">
      <img class="one" src="{{ url_for('static', filename='ORCID.png') }}" alt="Franklin ORCID" id="pic" />
    </div>
    <div id="contact-info" class="vcard">
      <h1 class="fn">Franklin Diaz</h1>
      <div class="noprint">
      <form action="/pdf" method="GET">
        <button name="pdfBtn" type="submit">Download PDF</button>
      </form>
      </div>
      <p>
        Email: <a href="mailto:frank378@gmail.com" target="_blank">frank378@gmail.com</a><br />
        Web: <a href="https://g.dev/franklin">GDev Page</a><br />
        LinkedIn: <a href="https://www.linkedin.com/in/franklin-diaz/">LinkedIn</a><br />
        Latest Version of this Resume: <a href="https://franklin-resume.herokuapp.com/">click here</a>
      </p>
    </div>

    <div id="objective">
      <p>
        <li>Provide technical championship and automation expertise</li>
        <li>Improving people, process, and tools.</li>
        <li>Building secure, modern, cloud-native infrastructure.</li>
        <li>Helping teams and organizations on their journey to the cloud.</li>
      </p>
    </div>

    <div class="clear"></div>

    <dl>
      <dt>Education</dt>
      <dd>
        <h2>Roosevelt University - Chicago, IL</h2>
        <p><strong>B.S. </strong>Computer Science<br />
          <strong>Minor: </strong>Mathematics</p>
      </dd>
      <dd>
        <h2>Northwestern University - Evanston, IL</h2>
        <p><strong>M.S. </strong>Information Systems<br />
      </dd>
      <dd>
        <h2>DePaul University - Chicago, IL</h2>
        <p><strong>M.S. </strong>Network Security/Network Engineering</p>
      </dd>

      <dd class="clear"></dd>

      <dt>Publications</dt>
      <dd>
        <li>Project paper: <a href="https://github.com/devsecfranklin/paper-cloud-lab/blob/main/cloudlab.pdf">A Cloud
            Native Security Lab</a> <div class="noprint"><img src="https://img.shields.io/static/v1?label=status&message=released&color=success&style=plastic"> </div></li>
        <li>Book: <a href="https://leanpub.com/devsecops-tactical-book/">DevSecOps Tactical</a> <div class="noprint"><img src="https://img.shields.io/static/v1?label=status&message=in%20progress&color=yellow&style=plastic"></div></li>
      </dd>
      
      <dd class="clear"></dd>

      <dt>Experience</dt>
      <dd>
        <h2>Palo Alto Networks <span>Principal Engineer - Security Infra Automation - 2020-Current</span></h2>
        <ul>
          <li>Design, develop, and deploy infrastructure as Code (IaC) for customers in
            public cloud environments (GCP, OCI, AWS, and Azure) based on best security practices
            and reference architectures</a>.</li>
          <li>Designate and guide Agile process for our teams.</li>
        </ul>

        <h2>Salesforce <span>Senior Security Engineer - Bellevue, WA - 2014-2019</span></h2>
        <ul>
          <li>Our team designed, built and maintained  an in-house large scale security log collection solution to process over 1B security events per day.</li>
          <li>Built & maintained Data Science Pipeline. We pushed the security logs through a normalizer into
            a Hadoop cluster. Built and maintained the Airflow setup to manage and execute our data models.
          </li>
          <li>Built out data science pipeline in the FedRamp High GovCloud environment in AWS.</li>
          <li>Built out large scale packet capture solution on internal company IT networks.</li>
          <li>Built and maintained the CI/CD pipeline architecture for the SDE team.</li>
        </ul>

        <h2>Indiana University <span>Principal Research Software Engineer - 2012-2013</span></h2>
        <ul>
          <li>Test Architect in Software Defined Networking Lab, designed test cases and directed test efforts on openflow networks.</li>
        </ul>

        <h2>Nokia Siemens Networks <span>Research &amp; Development Engineer - 2011-2012</span></h2>
        <ul>
          <li>Develop features in Arlington Heights, IL. Scrum master/lab manager in Finland for the US based dev team.</li>
          <li>In 2010, <a href="https://www.reuters.com/article/us-motorola-nokia-idUSTRE66I24P20100719">Nokia Siemens bought Motorola Networks division</a>.</li>
        </ul>

        <h2>Motorola <span>Senior Staff Engineer - 1995-2011</span></h2>
        <ul>
          <li>CDMA Cellular base station product development, test and deployment.</li>
        </ul>
      </dd>
    </dl>
  </div>

  <div class="noprint">
    <a href="https://github.com/devsecfranklin/franklin-resume">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
        src="{{ url_for('static', filename='forkme_right_darkblue_121621.png') }}" alt="Fork me on GitHub" /></a>
  </div>
</body>
</html>
