_music
AUTHORS
COPYING
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
compile
confdefs.h
config.guess
config.status
config.sub
config/
configure
configure~
configure.lineno
conftest.c
conftest.cpp
conftest.err
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing

