# SPDX-FileCopyrightText: 2021-2025 franklin <smoooth.y62wj@passmail.net>
#
# SPDX-License-Identifier: MIT

# MANAGED BY ANSIBLE

# $OpenBSD: ntpd.conf,v 1.16 2019/11/06 19:04:12 deraadt Exp $
#
# See ntpd.conf(5) and /etc/examples/ntpd.conf



# Addresses to listen on (ntpd does not listen by default)
listen on 10.10.8.11

## To browse Public NTP servers
## http://support.ntp.org/bin/view/Servers/WebHome#Finding_A_Time_Server

server {{ntp_server}}

## public 
#servers time-a.timefreq.bldrdoc.gov

constraint from "1.1.1.1"
constraints from "www.google.com"      # intentionally not 8.8.8.8
#constraint from "9.9.9.9"              # quad9 v4 without DNS

# IPv6
# constraint from "2620:fe::fe"          # quad9 v6 without DNS