# SPDX-FileCopyrightText: © 2022-2024 franklin <franklin@bitsmasher.net>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[global]
workgroup = {{samba_workgroup}}
netbios name = {% if samba_netbios_name is defined %}{{ samba_netbios_name }}{% else %}{{ ansible_hostname }}{% endif %}
lanman auth = yes
ntlm auth = yes
client min protocol = NT1
# The specific set of networks to bind to
interfaces = {{samba_interfaces}}
bind interfaces only = yes
log file = /var/log/samba/log.%m
max log size = {{samba_log_size}}

# We want Samba to only log to /var/log/samba/log.{smbd,nmbd}.
# Append syslog@1 if you want important messages to be sent to syslog too.
logging = file

server role = member server

unix password sync =  no
pam password change = yes

# Don't load printers
load printers = no
printing = bsd
printcap name = /dev/null
disable spoolss = yes
