/* print.css */
header, footer, aside, nav, form, iframe, p, h1, .clear, .delayOne, .delayTwo, .delayThree, .delayFour, .delayFive, quickFade, sectionTitle, sectionContent {
  display: none;
}

article {
  column-width: 17em;
  column-gap: 3em;
}

a::after {
  content: " (" attr(href) ")";
}

* {
  background-image: none !important;
}

img, svg {
  display: none !important;
}

img.print, svg.print {
  display: block;
  max-width: 100%;
}

table, img, svg {
  break-inside: avoid;
}

/* target all pages */
@page {
  margin: 2cm;
}

/* target the first page only */
@page :first {
  margin-top: 6cm;
}

/* target left (even-numbered) pages only */
@page :left {
  margin-right: 4cm;
}

/* target right (odd-numbered) pages only */
@page :right {
  margin-left: 4cm;
}
