/* print.css */
@media print {

  header,
  form,
  footer,
  aside,
  nav,
  form,
  iframe,
  p,
  h1,
  .clear,
  .delayOne,
  .delayTwo,
  .delayThree,
  .delayFour,
  .delayFive,
  .instaFade,
  .quickFade,
  sectionTitle,
  sectionContent {
    display: none;
  }

  article {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

a::after {
  content: " ("attr(href) ")";
}

* {
  background-image: none !important;
}

img,
svg {
  display: none !important;
}

img.print,
svg.print {
  display: block;
  max-width: 100%;
}

table,
img,
svg {
  break-inside: avoid;
}

/* target all pages */
@page {
  margin: 2cm;
}

/* target the first page only */
@page :first {
  margin-top: 6cm;
}

/* target left (even-numbered) pages only */
@page :left {
  margin-right: 4cm;
}

/* target right (odd-numbered) pages only */
@page :right {
  margin-left: 4cm;
}

@media all and (min-width: 602px) and (max-width: 800px) {
  #headshot {
    display: none;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 601px) {
  #cv {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }

  #headshot {
    display: none;
  }

  #name,
  #contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }

  .sectionTitle,
  .sectionContent {
    float: none;
    width: 100%;
  }

  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }

  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 480px) {
  .mainDetails {
    padding: 15px 15px;
  }

  section {
    padding: 15px 0 0;
  }

  #mainArea {
    padding: 0 25px;
  }

  .keySkills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #name h1 {
    line-height: 0.8em;
    margin-bottom: 4px;
  }
}
