# SPDX-FileCopyrightText: {{ ansible_email }}
#
# SPDX-License-Identifier: (( ansible_license }}
#
# {{ ansible_managed }}
#
# file location: 

# v0.1 initial version

# LDAP Defaults
# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE {{ ldap_base }}
URI	 {{ ldap_uri }}

#ldap_version 3

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

# TLS certificates (needed for GnuTLS)
TLS_REQCERT allow
TLS_CACERT {{ my_crt }}

SASL_MECH GSSAPI
SASL_REALM LAB.BITSMASHER.NET
