# SPDX-FileCopyrightText: {{ ansible_email }}
#
# SPDX-License-Identifier: (( ansible_license }}
#
# {{ ansible_managed }}
#
# file location:

export GOPATH={{ golang_gopath }}
export PATH=$GOPATH/bin:$PATH
