# SPDX-FileCopyrightText: {{ ansible_email }}
#
# SPDX-License-Identifier: (( ansible_license }}
#
# {{ ansible_managed }}
#
# file location:

export GOROOT={{ golang_install_dir }}
export PATH=$GOROOT/bin:$PATH
