[defaults]
nocows = False
inventory  = ./inventory.yml

remote_tmp = /tmp
local_tmp = /tmp

collections_path = ./collections
roles_path = ./roles
log_path = /var/log/ansible/ansible.log
display_args_to_stdout = True

retry_files_enabled = False
host_key_checking = False
forks = 5
timeout = 300
#allow_world_readable_tmpfiles = True # deprecated
pipelining = True
# [DEPRECATION WARNING]: [defaults]callback_whitelist option, normalizing names to new standard
# use callbacks_enabled instead. This feature will be
# removed from ansible-core in version 2.15. Deprecation warnings can be disabled by setting
# deprecation_warnings=False in ansible.cfg.
callbacks_enabled = profile_tasks


[persistent_connection]
connect_timeout = 60
connect_retry_timeout = 60

[inventory]

# avoid "did not meet _ requirements" warnings when using -v
# see https://github.com/ansible/ansible/issues/48859
enable_plugins = ini
